<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en_US</string>
	<key>CFBundleDisplayName</key>
	<string>NiceLeads</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Root.FacebookDemo</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1158962907623724</string>
				<string>wishlist</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Bundle ID</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.root.wishlist</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Niceleads-Twitter</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-Boj81rH5ziLhYet5O49T6cCDo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>26</string>
	<key>FacebookAppID</key>
	<string>1158962907623724</string>
	<key>FacebookDisplayName</key>
	<string>LoginForNL</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>NiceLeads camera use</string>
	<key>NSContactsUsageDescription</key>
	<string>NiceLeads contacts use.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>NiceLeads Location use </string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>NiceLeads photo use</string>
	<key>UIAppFonts</key>
	<array>
		<string>Lato-Black.ttf</string>
		<string>Lato-Regular.ttf</string>
		<string>Lato-Thin.ttf</string>
		<string>Lato-Bold.ttf</string>
		<string>Roboto-Regular.ttf</string>
		<string>Proxima Nova Bold.otf</string>
		<string>Proxima Nova Reg.otf</string>
		<string>ProximaNova-Extrabold.otf</string>
		<string>ProximaNova-Thin.otf</string>
		<string>Merriweather-Black.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-Light.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Oswald-Bold.otf</string>
		<string>Oswald-Light.otf</string>
		<string>Oswald-Regular.otf</string>
		<string>Gotham-Black.otf</string>
		<string>Gotham-BlackItalic.otf</string>
		<string>Gotham-Bold.otf</string>
		<string>Gotham-BoldItalic.otf</string>
		<string>Gotham-Book.otf</string>
		<string>Gotham-BookItalic.otf</string>
		<string>Gotham-Light.otf</string>
		<string>Gotham-LightItalic.otf</string>
		<string>Gotham-Medium.otf</string>
		<string>Gotham-MediumItalic.otf</string>
		<string>Gotham-Thin.otf</string>
		<string>Gotham-ThinItalic.otf</string>
		<string>Gotham-Ultra.otf</string>
		<string>Gotham-UltraItalic.otf</string>
		<string>Gotham-XLight.otf</string>
		<string>Gotham-XLightItalic.otf</string>
		<string>GothamCond-Black.otf</string>
		<string>GothamCond-BlackItalic.otf</string>
		<string>GothamCond-Bold.otf</string>
		<string>GothamCond-BoldItalic.otf</string>
		<string>GothamCond-Book.otf</string>
		<string>GothamCond-BookItalic.otf</string>
		<string>GothamCond-Light.otf</string>
		<string>GothamCond-LightItalic.otf</string>
		<string>GothamCond-Medium.otf</string>
		<string>GothamCond-MediumItalic.otf</string>
		<string>GothamCond-Thin.otf</string>
		<string>GothamCond-ThinItalic.otf</string>
		<string>GothamCond-Ultra.otf</string>
		<string>GothamCond-UltraItalic.otf</string>
		<string>GothamCond-XBlack.otf</string>
		<string>GothamCond-XBlackItalic.otf</string>
		<string>GothamCond-XLight.otf</string>
		<string>GothamCond-XLightItalic.otf</string>
		<string>GothamNarrow-Black.otf</string>
		<string>GothamNarrow-BlackItalic.otf</string>
		<string>GothamNarrow-Bold.otf</string>
		<string>GothamNarrow-BoldItalic.otf</string>
		<string>GothamNarrow-Book.otf</string>
		<string>GothamNarrow-BookItalic.otf</string>
		<string>GothamNarrow-Light.otf</string>
		<string>GothamNarrow-LightItalic.otf</string>
		<string>GothamNarrow-Medium.otf</string>
		<string>GothamNarrow-MediumItalic.otf</string>
		<string>GothamNarrow-Thin.otf</string>
		<string>GothamNarrow-ThinItalic.otf</string>
		<string>GothamNarrow-Ultra.otf</string>
		<string>GothamNarrow-UltraItalic.otf</string>
		<string>GothamNarrow-XLight.otf</string>
		<string>GothamNarrow-XLightItalic.otf</string>
		<string>GothamUltra.otf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
